@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;;
}
.flex{
  display: flex;
}
.sidebar img{
  width: 130px;
  border-bottom: 1px solid rgb(90, 89, 89);
}
.sidebar{
  width: 9rem;
  border-right: 1px solid black;
  height: 112vh;
  background-color:#070720;
}
.sidebar ul{
  padding: 10px;
}
.sidebar li{
  margin: 3rem 0.5rem;
  padding: 8px;
  border: 2px solid white;
  border-radius: 25px;
}
.sidebar a{
  text-decoration: none;
  background-color: #070720;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
@media (min-width: 768px){
  
}