@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;;
}
.header {
  padding: 0rem 1rem;
  border-bottom: 1px solid black;
  background-color: #070720;
}
.header img{
  width: 180px
}
.flex{
  display: flex;
}
.sidebar{
  width: 9rem;
  border-right: 1px solid black;
  height: 100vh;
  background-color: white;
}
.cargando{
  margin:10px 0 20px 15px;
  text-align: center;
  background-color: #070720;
  padding: 10px;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  color: white;
}
.sidebar ul{
  padding: 10px;
}
.sidebar li{
  margin: 2rem 1rem;
}
.sidebar a{
  text-decoration: none;
  background-color: #070720;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.tarjetas{
  display: list-item;
  list-style: none;
}
.tarjetas li{
  margin:15px 0px 30px 10px;
  background-color: #070720;
  padding: 15px;
  width: 80%;
  height: 25vh;
  border-radius: 10px;
}
.datos{
  color: white;
  margin: 12px
}
.tarjetas img{
 
}
button{
    display: inline-block;
    background-color: #39b54a;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    margin:0px 20px 20px 10px;
}
button:hover{
  background-color: #013220;
}
.home-h1{
  background-color: #39b54a;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}
.home-div  {
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #070720;
  width: 250px;
  height: 150px;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.home-div a{
  color: white;
}
@media (min-width: 768px){
  .tarjetas{
    display: flex;
    justify-content: center;
  }
  .tarjetas li{
    width: 50%;
    height: 35vh;
  }
  .home-div{
    display: inline-block;
    margin: 20px 20px 0 20px;
  }
  .tarjetas img{
    width: 180px;
    height: 110px;
  }
 
  @media (min-width: 1200px){
    .tarjetas li{
      height: 40vh;
    }
    .tarjetas img{
      width: 180px;
      height: 110px;
    }
  }
}