@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body{
  font-family: 'Roboto', sans-serif;;
}
.navbar {
  padding: 0rem 1rem;
  border-bottom: 1px solid black;
  background-color: #070720;
}
.navbar img{
  width: 180px
}
.flex{
  display: flex;
}
.sidebar{
  width: 9rem;
  border-right: 1px solid black;
  height: 100vh;
}
.sidebar ul{
  padding: 10px;
}
.sidebar li{
  margin: 2rem 1rem;
}
.sidebar a{
  text-decoration: none;
  background-color: #070720;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
