@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.home{
  display: flex;
  flex-direction: column;
}

.padre{
    display: flex;
    flex-direction: row;
    background-color: #cecaca;
    height: 100vh;
}
.home-h1{
  border-bottom: solid rgb(136, 136, 136) 3px;
  padding: 25px;
  width: 82.5vw;
  margin: 0
}
.hijo1{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  background-color: white;
  margin: 5px 5px;
  border: #8a8888 solid 3px;
  border-radius: 5px;
}
.home-list{
  text-align: center;
  padding: 10px;
  width: 49%;;
  width: 250px;
  height: 200px;
  font-size: 20px;
  color: #505053;
  margin: 10px 0;
}
.home-list h3{
  margin: 5px 0
}
.home-list h4{
  margin: 5px 0;
}
.home-list picture{
    border-bottom: 1px solid rgb(49, 49, 49);
}
.home-list img{
    width: 180px;
    height: 130px;
    margin-bottom: 6px;
    border-radius: 20px;
}
.home-div a{
    color: white;
}
.total{
    background-color: white;
    width: 50%;
    height: 15vh;
    padding: 10px;
    text-align: center;
    margin: 5px 15px;
    border: #8a8888 solid 3px;
    border-radius: 5px;
}
@media (min-width: 1200px){
  .home-h1{
    width: 86vw;
    text-align: center;
  }
  .padre{
    flex-direction: column;
  }
  .hijo1{
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 37vh;
    margin-top: 3px;
  }
  .total{
    width: 20%;
  }
  .totales{
    display: flex;
    align-self: center;
  }
  .home-list picture{
    border-bottom:none ; 
  }
}