<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="encabezado">
<picture id="logo"> <a href="/"> <img src="/images/Logo-eData-LOG.png" alt=""></a></picture>
<section class="lista">
    <a href="/">PRECIOS <i class="fa-solid fa-hand-holding-dollar"></i></a>
    <a href="/">CONTACTO <i class="fa-solid fa-inbox"></i> </a>
    <a href="/login">INGRESA <i class="fa-solid fa-right-to-bracket"></i></a>
    <a href="/">REGISTRATE <i class="fa-solid fa-address-card"></i></a>
    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
    <a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a>
</section>
</nav>
    </header>
    <main>
        <picture class="banner"><img src="/images/imagen-de-publicidad-2.jpg"></picture>
        <div class="sobreImagen"> GANA CLIENTES CON LA SOLUCIÓN DIGITAL QUE COMBINA WIFI, BIGDATA Y REDES SOCIALES</div>
        <section class="section3">
            <h3>EDATA-LOG:</h3>
            <h3>CONVIERTE EL WIFI DE TU LOCAL EN UNA HERRAMIENTA DE SOCIAL MARKETING AUTOMATICA</h3>
            <picture><img src="/images/conectate.jpeg" alt=""></picture>
        </section>
        <nav class="main-nav">
            <h3 >ADEMAS EDATA-LOG TRABAJARÁ PARA TI SIN QUE TENGAS QUE HACER NADA... ENVIANDO...</h3>
            <ul>
                <li>Agradecimiento de la visita a tu local <i class="fa-solid fa-handshake"></i></li>
                <li>Felicitación de aniversario<i class="fa-solid fa-cake-candles"></i> </li>
                <li>Promociones de menús y dias especiales <i class="fa-solid fa-bullhorn"></i></li>
                <li>Encuesta de satisfacción <i class="fa-solid fa-clipboard-list"></i> </li>
            </ul>
        </nav>
        <section class="section4">
            <img src="/images/aumento-ventas-opt..jpg"> 
            <div>            
                <h2>Incremento de ventas</h2>
                <p>eData-LOG ayuda a incrementar las ventas generales de tu negocio gracias al sistema de captación de clientes integrado basado en comportamiento y bigdata</p>
            </div>
        </section>
        <section class="section5">
            <img src="/images/bidata.webp">
            <div>
                <h2>Captura información de tus clientes para acciones de MARKETING</h2>
                <p>eData-LOG permite capturar los datos públicos de los clientes que acceden al Wifi de tu local para generar una base de datos segmentada y hacer acciones de marketing productivas</p>
            </div>
        </section>
        <section class="section6">
            <h3>EDATA-LOG ES IDEAL PARA:</h3>
            <img src="/images/eData-LOG-ideal.jpg">
        </section>
    </main>
    <footer class="main-footer">
        <picture class="picture-footer"><img src="/images/Logo-eData-LOG.png" alt=""></picture>
        <section class="section10">
            <a href="/"> > Dirección de email.</a>
            <a href="/"> > Numero de telefono.</a>
            <a href="/"> > Dirección.</a>
        </section>
        <section class="section11">
            <a href="/">> Restaurantes, cafeterias, bares y discotecas</a>
            <a href="/">> Hoteles</a>
            <a href="/">> Gimnasios y centros deportivos</a>
            <a href="/">> Centros médicos y salas de espera</a>
            <a href="/">> Medios de transporte</a>
        </section>
        <section class="section12">
            <a href="/">> Aeropuertos y zonas de espera larga</a>
            <a href="/">> Eventos y conciertos</a>
            <a href="/">> Peluquerías, barberías y centros de estetica</a>
            <a href="/">> Tiendas de moda, retail y centros comerciales</a>
        </section>
        <section class="section13">
            <a href="/"><i class="fa-brands fa-facebook"></i></a>
            <a href="/"><i class="fa-brands fa-twitter"></i></a>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <a href="/"><i class="fa-brands fa-linkedin"></i></a>
        </section>
    </footer>
    
</body>
</html>