<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet"href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>eData-LOG</title>
    <link rel="shortcut icon" href="/images/Favicon eData-LOG.jpg">
</head>
<body>
    <header>

    </header>
    <main class="main-login">
        <form class="login-form">
            <article class="login-box">
                <h2>loging</h2>
                <input type="text" placeholder="usuario o email" class="barra-login">
                <input type="password" placeholder="contraseña" class="barra-login">
                <label for="recordarme" class="recordarme-aqui">recuerdame en este equipo</label>
                <input type="checkbox" id="recordarme" name="rememberMe" class="caja">
                <a href="#" class="contraseña-olvidada">¿olvidaste tu contraseña?</a>
                <button type="submit" class="botton-form">enviar</button>
            </article>
            <article class="comentary-box">
                <h2>¿primera vez aqui?</h2>
                <p class="texto-bienvenida">Bienvenido! estamos felices de que estes aqui. Por favor
                    cuentenos sobre usted.
                </p>
                <input type="text" placeholder="Comentarios" class="comentrios-login">
                <button type="submit" class="botton-form">Continuar</button>
            </article>
        </form>
    </main>
    <footer>
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.</p>

        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
        puedas hacer, porque estás siempre protegid@.</p>

        <p class="final-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>