<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
        rel="stylesheet">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <title>eData-LOG</title>
        <link rel="shortcut icon" href="/images/Favicon eData-LOG.jpg">
    </head>
    <body>
        <div class="main-wrapper body-content pull-under-header">
            <div class="container-fluid">
                <div ng-controller="checkoutController" class="ng-scope">
                    <div ng-model="summary.itemCount"
                    ng-init="summary.itemCount='0'" class="ng-pristine
                    ng-untouched ng-valid ng-not-empty"></div>
                    <div ng-model="summary.cartTotal"
                    ng-init="summary.cartTotal='0'" class="ng-pristine
                    ng-untouched ng-valid ng-not-empty"></div>
                    <div class="row checkout-progress">
                        <div class="cart-nav">
                            <div class="step sel">
                                <div class="circle">
                                    <i class="icon-im-cart"></i>
                                </div>
                                <div style="overflow:visible">Su Tarjeta</div>
                            </div>
                            <div class="lineDiv"><div class="line
                            sel">&nbsp;</div>
                        </div>
                        <div class="step ">
                            <div class="circle">
                                <i class="icon-im-person"></i>
                            </div>
                            <div>Login</div>
                        </div>
                        <div class="lineDiv"><div class="line
                        ">&nbsp;</div></div>
                        <div class="step ">
                            <div class="circle">
                                <i class="icon-im-payment"></i>
                            </div>
                            <div>Pago</div>
                        </div>
                        <div class="lineDiv"><div class="line
                        ">&nbsp;</div></div>
                        <div class="step ">
                            <div class="circle">
                                <i class="icon-im-download-button"></i>
                            </div>
                            <div>Descarga</div>
                        </div>
                    </div>
                </div><input type="hidden" value="cv1bkgykdkrnf3tbemoz0e1o"
                autocomplete="off">
                
                <div class="container container-text">
                    <div class="row md-gutters">
                        <div class="col-md-8">
                            <div class="row no-gutters gray-border-bottom">
                                <div class="col-9">Detalles:</div>
                                <div class="col-3 text-right">Precio= $ ###</div>
                            </div>
                            <div class="gray-border-bottom">
                                <ul class="cart-summary"></ul>
                            </div>
                            <span class="ng-binding">0 ítem(s):</span>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="cart-total">
                                <div class="row no-gutters
                                justify-content-between align-items-center"
                                style="margin:10px 0">
                                    <div class="col-6">
                            Valor Total
                        </div>
                        <div class="col-6 total">
                            $<span class="ng-binding">0</span>
                        </div>
                    </div>
                    <a href="/register.html">
                        <div class="btn btn-primary w-100 px-4">Registrar</div>
                    </a>
                </div>
                <div style="text-align: center">
                    <em>
                        or<br>
                        <a href="/home.html">Continuar Comprando</a>
                    </em>
                </div>
            </div>
        </div>
    </body>
</html>