    .main-footer{
        display: flex;
        justify-content: flex-start;
        background-color: #ebebeb;
    }
    footer picture img{
        max-width: 100%;
        margin: 5% 5%;
    }
    footer picture{
        max-width: 40%;
    }
    .section10{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 5%;
        font-size: 20px;
    }
    .section11{
        display: none;
    }
    
    .section12{
        display: none;
    }
    .section13{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        font-size: 25px;
    }
    @media (min-width:768px){
        .section10{
            flex-direction: row;
            max-width: 60%;
            position: absolute;
            left: 40%;
            margin-top: 3rem;
            font-size: 20px;
        }
        .section10 a{
            margin-right: 1rem;
        }
        .section13{
            flex-direction: row;
            align-self: center;
            justify-content: center;
        }
        .section13 a {
            font-size: 4rem;
            margin: 1.1rem 1rem 0 0;
        }
    }
    @media (min-width:1200px){
        footer picture{
            max-width: 10%;
            margin: 1% 2% 5% 2%;
        }
        .section10{
            flex-direction: row;
            max-width: 60%;
            position: absolute;
            left: 13%;
            margin-top: 0.5rem;
            font-size: 25px;
        }
        .section11{
            display: flex;
            flex-direction: column;
            margin: 3rem 3rem 0 3rem;
            font-size: 18px;
        }
        .section11 a{
            margin-bottom: 8px;
        }
        .section12{
            display: flex;
            flex-direction: column;
            margin: 3rem 0 0 5rem;
            font-size: 18px;
        }
        .section12 a{
            margin-bottom: 8px;
        }
        .section13{
            flex-direction: row;
            align-self: flex-end;
            position: absolute;
            right: 90%;
        }
        .section13 a {
            font-size: 1.5rem;
            margin: 10% 10% 15% 10%;
        }
    }