header{
    background-color: #2a3354;
    width: 100%;
    height: auto;
    display: flex;
    display: block;
}
#logo img{
 max-width: 30%;
 height: auto;
    padding: 1rem;
}

@media screen and (min-width:1100px){
.lista{
    text-align: center;
    justify-content: space-between;
    padding: 0.5 rem;
    margin-right: 5rem;
    margin-top: 2rem;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    gap: 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.lista a{
    color: #ebebeb;
    box-sizing: border-box;
    padding: 1rem 0.8rem;
    box-sizing: border-box;
    padding-top: 1rem;
    margin-top: 1rem;
    align-items: center;
    font-size: 1rem;
    margin: 1rem;
    margin-right: 1rem;
    padding-right: 1rem;
}
.lista a:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border: 1px solid black;
}
}

@media screen and (max-width:600px){
    .lista{
        display: none;
    }
    
}
@media screen and (min-width:600px) and (max-width:1000px){
    .lista a{
        color: #ebebeb;
        box-sizing: border-box;
        padding: 1rem 0.8rem;
        box-sizing: border-box;
        padding-top: 1rem;
        margin-top: 1rem;
        align-items: center;
        font-size: 0.8rem;
        margin: 0.5rem;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
    }
}