.main-header{
    background-color: #2a3354;
    display: flex;
    flex-direction: row;
}
.top-bar{
    width: 100%;
}
.logo {
    max-width: 20%;
    margin: 2% 2%;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
}
.nav-bar li {
    max-width: 80%;
    text-decoration: none;
    font-size: 15px;
    margin: 0 2% 2% 2%;    
} 
.nav-bar a {
    color: #fff;
}
@media (min-width: 768px){
    
}
@media (min-width: 1200px){
    .logo{
        margin: 5%
    }
}
