@import url("header.css");
@import url("footer.css");
@import url("base.css");

.banner img {
   display: none;
}
.section3{
   color: #2a3354;
   text-align: center;
   margin-top: 0.5rem;
}
.section3 img{
   width: 100%;
}
h3{
   color: #2a3354;
   text-align: center;
   padding-top: 0.5rem;
   font-size: 1rem;
   display: block;
}
.main-nav ul{
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}
.main-nav li{
   text-decoration: none;
   color: #2a3354;
   display: list-item;
   padding: 5px 0px;
   font-size: 17px; 
}
.main-nav i{
   color: #2a3354;
   display: inline-block;
   flex-basis: 10%;
   padding: 0.3rem;
   font-size: 1rem;
}
.main-nav i:hover{
   color: #39b54a;
}
.sobreImagen{
   display: none;
}
.section4{
   display: flex;
   color: #2a3354;
   margin-top: 1rem;
}
.section4 img {
   width: 49%;
}
.section4 h2 {
   text-align: center;
   font-size: 18px;
   padding: 1rem;
}
.section4 div{
   width: 49%;
   font-size: 16px;
   text-align: center;
}
.section5{
   display: flex;
   color: #2a3354;
}
.section5 img{
   width: 49%;
   order: 1
}
.section5 h2{
   text-align: center;
   font-size: 18px;
   padding: 1rem;
}
.section5 div{
   width: 49%;
   font-size: 16px;
   text-align: center;
}
.section6 h3{
   font-size: 18px;
}
.section6 img{
   width: 100%;
}
.section7 h2{
   position: absolute;
   display: block;
   align-items: flex-end;
   left: 15rem;
   top: -0.1rem;
}
@media (min-width:768px){
   .main-nav ul{
      list-style: none;
      margin: 0;
      padding: 0;
   }
   .main-nav li{
      text-decoration: none;
      color: #2a3354;
      display: inline-block;
      font-size: 17px; 
   }
   .main-nav i{
      margin-right: 2rem;
   }
   .section4 img {
      width: 49%;
   }
   .section4 h2 {
      text-align: center;
      font-size: 25x;
   }
   .section4 div{
      width: 49%;
      font-size: 20px;
      text-align: center;
   }
   .section5 img {
      width: 49%;
   }
   .section5 h2 {
      text-align: center;
      font-size: 25x;
   }
   .section5 div{
      width: 49%;
      font-size: 20px;
      text-align: center;
   }
   h3{
      color: #2a3354;
      text-align: center;
      padding: 2rem;
      font-size: 1.7rem;
   }
}
@media (min-width:1200px){
   .banner img {
      display: flex;
      max-width: 100%;
   }
   .sobreImagen{
      display: flex;
      position: absolute;
      top: 50vw;
      left: 8vw;
      font-size: 2rem;
      color: #fff;
   }
   .section3 img{
      width: 100%;
   }
   h3{
      color: #2a3354;
      text-align: center;
      padding-top: 0.6rem;
      font-size: 1rem;
   }
   .main-nav li{
      text-decoration: none;
      color: #2a3354;
      display: inline-block;
      font-size: 20px;
      text-align: start;
      margin-top: 2rem;
      margin-bottom:2rem ;
   }
   .main-nav i{
      margin-right: 9px;
   }
   .section4 img {
      max-width: 60%;
      margin-left: 7rem;
   }
   .section4 h2 {
      font-size: 35px;
   }
   .section4 div{
      width: 29%;
      font-size: 30px;
      text-align: center;
   }
   .section5 img{
      max-width: 70%;
      height: 65%;
   }
   .section5 h2{
      font-size: 35px;
   }
   .section5 div{
      width: 29%;
      font-size: 30px;
      margin-left: 7rem;
      margin-right: 1rem;
      text-align: center;
   }
   .section6{
      color: #2a3354;
      text-align: center;
      margin-top: 1rem;
   }
   .section6 img{
      width: 80%;
   }
}