@media screen and (max-width:600px){
    .banner{
        display: none;
    }
    .section3{
        color: #2a3354;
        text-align: center;
        margin-top: 0.5rem;
      
    }
    .section3 img{
width: 100%;
    }
    .section4{
        color: #2a3354;
        text-align: center;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
     margin: 1rem;
     position: relative;
     justify-content: space-evenly;
     font-size: 0.5rem;
     }
     h3{
        color: #2a3354;
        text-align: center;
        padding-top: 0.5rem;
        font-size: 0.5rem;
        display: block;
     }
     .section4 i{
        color: #2a3354;
        display: inline-block;
        flex-basis: 10%;
        padding: 0.3rem;
        font-size: 1rem;
     }
     .section4 i:hover{
    color: green;
     }
     .section6{
        color: #2a3354;
        text-align: center;
        margin-top: 1rem;
     }
     .section6 img{
        width: 100%;
     }
    .section7{
        color: #2a3354;
        position: relative;
    }
    .section7 div{
        position: absolute;
        display: block ;
        align-items: flex-end;
        font-size: 0.5rem;
        left: 13rem;
        top: 2rem;
        text-align: justify;
    }
    h2{
        font-size: 0.6rem;
    }
    .section7 h2{
        position: absolute;
        display: block;
        align-items: flex-end;
        left: 15rem;
        top: -0.1rem;
    }
     .section7 img{
        width: 50%;
     }
     .section8{
        display: flex;
        justify-content: flex-end;
        position: relative;
     }
     .section8 img{
        display: flex;
        width: 50%;
       align-items: flex-end;
     }
     .section9{
        color: #2a3354;
        position: relative;
     }
    .section9 h2{
    position: absolute;
        text-align: left;
        font-size: 0.5rem;
        padding-right: 60%;
        padding-left: 5%;
        top: -7rem;
    }
    .section9 div{
        position: absolute;
        text-align: justify;
        font-size: 0.5rem;
        padding-right: 60%;
        padding-left: 5%;
        top: -5rem;
    }
    .sobreImagen{
    display: none;
    
    }
}




@media screen and (min-width:1100px){
.banner img{
    width: 100vw;
}
.section3{
    color: #2a3354;
    text-align: center;
    margin-top: 1rem;
  
}
.section4{
    color: #2a3354;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
 margin: 4rem;
 position: relative;
 justify-content: space-evenly;
 font-size: 1rem;
 }
 h3{
    color: #2a3354;
    text-align: center;
    padding-top: 3rem;
 }
 .section4 i{
    color: #2a3354;
    display: inline-block;
    flex-basis: 10%;
    padding: 2rem;
    font-size: 3rem;
 }
 h3{
    font-size: 1.7rem;
 }
 .section4 i:hover{
color: green;
 }
 .section6{
    color: #2a3354;
    text-align: center;
    margin-top: 1rem;
 }
 .section6 img{
    width: 100%;
 }
.section7{
    color: #2a3354;
    position: relative;
}
.section7 div{
    position: absolute;
    display: block;
    align-items: flex-end;
    left: 55rem;
    top: 7rem;
    font-size: 2rem;
    padding-right: 2rem;
    text-align: justify;
}
.section7 h2{
    position: absolute;
    display: block;
    align-items: flex-end;
    left: 55rem;
    top: 2rem;
    font-size: 3rem;
 
}
 .section7 img{
    width: 50%;
 }
 .section8{
    display: flex;
    justify-content: flex-end;
    position: relative;
 }
 .section8 img{
    display: flex;
    width: 50%;
   align-items: flex-end;
 }
 .section9{
    color: #2a3354;
    position: relative;
 }
.section9 h2{
position: absolute;
    text-align: left;
    top: -30rem;
    padding: 10px;
    font-size: 2.3rem;
    padding-right: 60%;
    padding-left: 5%;
}
.section9 div{
    position: absolute;
    text-align: justify;
    top: -19rem;
    padding-right: 60%;
    padding-left: 5%;
    font-size: 1.8rem;
}
.sobreImagen{
    position: absolute;
    font-size: 1.5rem;
    top: 49rem;
    right: 3rem;
    color: #ebebeb;
    font-weight: bold;

}
}
@media screen and (min-width:600px) and (max-width:1000px){
    .banner img{
      display: none;
    }
    .section3{
        color: #2a3354;
        text-align: center;
        margin-top: 0.5rem;
      
    }
    .section3 img{
        width: 70%;
    }
    .section4{
        color: #2a3354;
        text-align: center;
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
     margin: 2rem;
     position: relative;
     justify-content: space-evenly;
     font-size: 0.7rem;
     }
     h3{
        color: #2a3354;
        text-align: center;
        padding-top: 0.6rem;
        font-size: 0.7rem;
     }
     .section4 i{
        color: #2a3354;
        display: inline-block;
        flex-basis: 10%;
        padding: 0.5rem;
        font-size: 1rem;
     }
  
     .section4 i:hover{
    color: green;
     }
     .section6{
        color: #2a3354;
        text-align: center;
        margin-top: 1rem;
     }
     .section6 img{
        width: 80%;
     }
    .section7{
        color: #2a3354;
        position: relative;
    }
    .section7 div{
        position: absolute;
        display: block;
        align-items: flex-end;
        left: 30rem;
        top: 6rem;
        font-size: 0.8rem;
        padding-right: 1rem;
        text-align: justify;
    }
    .section7 h2{
        position: absolute;
        display: block;
        align-items: flex-end;
        left: 30rem;
        top: 2rem;
        font-size: 1rem;
     
    }
     .section7 img{
        width: 50%;
     }
     .section8{
        display: flex;
        justify-content: flex-end;
        position: relative;
     }
     .section8 img{
        display: flex;
        width: 50%;
       align-items: flex-end;
     }
     .section9{
        color: #2a3354;
        position: relative;
     }
    .section9 h2{
    position: absolute;
        text-align: left;
        top: -17rem;
        padding: 10px;
        font-size: 1rem;
        padding-right: 60%;
        padding-left: 5%;
    }
    .section9 div{
        position: absolute;
        text-align: justify;
        top: -13rem;
        padding-right: 60%;
        padding-left: 5%;
        font-size: 0.8rem;
    }
    .sobreImagen{
  display: none;
    }
}