@import url("header.css");
@import url("section.css");
@import url("footer.css");
@import url("normalize.css");
@import url("register.css");
@import url("login.css");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

@media (min-width: 360px) and (max-width: 768px) {
    .main-header {
        top: 0;
        width: 100%;
    }
    div.limite {
        margin-top: 180px;
    }
    input.search {
        text-align: center;
        margin: auto;
        width: 40%;
        display: inline-flex;
        max-width: 100px;
    }
    .copy-header {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        max-width: 210px;
        margin: auto;
        padding: 15px;
    }
    .logo {
        width: 40%;
        padding: auto;
        display: inline-flex;
    }  
}

@media (min-width: 769px) {
    .main-header {
        top: 0;
        width: 100%;
    }
    div.limite {
        margin-top: 140px;
    }
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .hamburguer-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
        margin: 10px;
    }
    .main-navbar li {
        display: flex;
        margin: 1px;
    }
    .copy-header {
        font-size: 20px;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        max-width: none;
    }
    footer i {
        text-align: center;
        padding: 15px;
        display: flex;
        display: inline-block;
        justify-content: space-between;
    }
}

@media (min-width: 1028px) {
    .main-header {
        top: 0;
        width: 100%;
    }
    div.limite {
        margin-top: 100px;
    }
    .logo {
        width: 200px;
    }

    .main-header-top-bar, .main-navbar {
        max-width: 1028px;
        align-items: center;
        margin: auto;
    }

    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .copy-header {
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }
}