@import url("header.css");
@import url("footer.css");
@import url("base.css");


.register-box form{
    display: block;
    list-style: none;
    background-color: #ebebeb;
    border: black 1px solid;
    max-width: 60%;
    margin: auto;
    margin-top: 15px;
}
.register-box h2 {
    margin: 17px;
    margin-left: 34%;
}
.register-box h3 {
    margin: 15px;
    margin-left: 32%;
}
.barra-register{
    width: 80%;
    height: 30px;
    margin: 15px;
    font-size: 20px;
}
.deacuerdo {
    display: inline;
    width: 60%;

}
#deacuerdo {
    display: inline;
}
.botton-form {
    display: block;
    background-color: #39b54a;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.botton-form:hover {
    background-color: #013220;
}
.feedback{
    flex: 0 0 100%;
    padding: 0.5rem;
    background-color: #ebebeb;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.register-box2{
    display: block;
    list-style: none;
    background-color: #7861fc;
    border: black 1px solid;
    max-width: 90%;
    margin: auto;
    margin-top: 15px;
}
.register-box2 p{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

@media (min-width: 768px){
    .register-box form{
        width: 45%;
    }   
    
    .barra-register{
        width: 70%;
        margin: 15px 15%;
    }
}
@media (min-width: 1200px){
    .register-box form{
        width: 35%;
    }
}