
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: url("https://media3.giphy.com/media/1hfa48OchcDmJDsY4v/giphy.gif?cid=ecf05e47rk1e4wltmauvdyaax804jad8y0fos1445py0yhtq&rid=giphy.gif&ct=g");
    background-size:cover ;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.feedback{
    margin: auto;
    margin-bottom: 10px;
    color: white;
    padding:6px;
    background-color: #c22e2e;
    border: none;
    border-radius: 10px;
    width: 40%;
}