    .contenedor{
        display: flex;
        background-color: #ebebeb;
        margin-top: 10vh;
    }
    footer picture {
        max-width: 30%;
        margin: 4% 4%;
    }
    footer picture img {
        max-width: 100%;
    }
    .section10{
        display: flex;
        width: 150px;
        margin-top: 60px;
        margin-left: 5%;
        font-size: 16px;
        flex-direction: column
        
    }
    .section10 a{
        margin-bottom: 20px;
    }
    .section11{
        display: none;
    }
    
    .section12{
        display: none;
    }
    .section13{
        margin-left: 10%;
        margin-top: 60px;
        font-size: 20px;
        width: 30px;
    }
    .section13 a{
        margin-bottom: 15px;
        font-size: 1.5rem;
    }
    @media (min-width:768px){
        footer picture {
            max-width: 20%;
            margin: 2% 2%;
        }
        footer picture img {
            max-width: 100%;
        }
        .section10{
            width: 800px;
            height: 40px;
            flex-direction: row;
            margin:0;
            margin-top: 30px
        }
        .section10 a{
            margin:0;
            margin-right: 15px;
            font-size: 20px;
        }
        .section13{
            margin-left: 25vw;
            width: 200px;
            align-self: center;
            position: absolute;
        }
        .section13 a{
            margin:0;
            margin-right: 15px;
        }
    }
    @media (min-width:1200px){
        footer picture{
            max-width: 170px;
            height: 150px;
            margin: 1% 1%
        }
        .section10{
            position: absolute;
            width: 700px;
            left: 19.5rem;
        }
        .section10 a{
            font-size: 18px;
        }
        .section11{
            display: flex;
            flex-direction: column;
            margin: 4rem 3rem 0 7rem;
            font-size: 18px;
            text-align: start;
        }
        .section11 a{
            margin-bottom: 8px;
        }
        .section12{
            display: flex;
            flex-direction: column;
            margin: 4rem 3rem 0 7rem;
            font-size: 18px;
            text-align: start;
        }
        .section12 a{
            margin-bottom: 7px;
        }
        .section13{
            margin-left: 2vw;
            margin-top: 11vh;
        }
        .section13 a {
            font-size: 1.5rem;
        }
}