<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/carrito.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
        rel="stylesheet">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="shortcut icon" href="/images/Favicon_eData-LOG_2.0.png">
        <title>eData-LOG</title>
    </head>
    <body>
        <header>
            <nav class="encabezado">
                <picture id="logo"><a href="/"><img src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
                <section class="lista">
                    <a href="/detalle">CATÁLOGO</a>
                    <a href="/precios">PRECIOS <i class="fa-solid
                    fa-hand-holding-dollar"></i></a>
                    <a href="/contacto">CONTACTO <i class="fa-solid
                    fa-inbox"></i> </a>
                    <a href="/login">INGRESA <i class="fa-solid
                    fa-right-to-bracket"></i></a>
                    <a href="/registro">REGISTRATE <i class="fa-solid
                    fa-address-card"></i></a>
                    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
                    <a href="/carrito"><i class="fa-solid
                    fa-cart-shopping"></i></a>
                </section>
            </nav>
        </header>
        <main>
            <section class="superior">
                <div class="contenedor1">
                    <i class="fa-solid fa-cart-shopping"><h4>Su carrito</h4></i>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    <i class="fa-solid fa-right-to-bracket"><h4>Login</h4></i>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    <i class="fa-solid fa-hand-holding-dollar"><h4>Pago</h4></i>
                    <i class="fa-solid fa-arrow-right-long"></i>
                    <i class="fa-solid fa-circle-down"><h4>Descarga</h4></i>
                </div>
            </section>
            <section class="arrow-down">
                <i class="fa-solid fa-arrow-down-long"></i>
            </section>
            <section class="inferior">
                <div class="contenedor2">
                    <h3>Detalles del producto</h3>
                    <h3>Precio</h3>
                </div>
                <div class="contenedor3">
                    <h3>Valor total:</h3>
                    <h3>Confirmar</h3>
                    <em>
                        o<br>
                        <a href="/precios">Continuar averiguando</a>
                    </em>
                </div>
            </section>
            <section class="arrow-down">
                <i class="fa-solid fa-arrow-down-long"></i>
            </section>
            <section class="login-box">
                <h2>Login</h2>
                <form>
                    <input type="text" placeholder="usuario o email" class="barra-login">
                    <input type="password" placeholder="contraseña" class="barra-login">
                    <label for="recordarme" class="recordarme-aqui">recuerdame en este equipo</label>
                    <input type="checkbox" id="recordarme" name="rememberMe" class="caja">
                    <a href="#" class="contraseña-olvidada">¿Olvidaste tu contraseña?</a>
                    <button type="submit" class="botton-form">Enviar</button>
                </form>
            </section>
            <section class="arrow-down1">
                <i class="fa-solid fa-arrow-down-long"></i>
            </section>
            <section>
                <h2>Forma de pago</h2><img src="/images/Tarjetas aceptadas.png" alt="">
                <form action="">
                    <input type="text" placeholder="Nº de tarjeta" class="card-number" required>
                    <input type="number" placeholder="Vencimiento" class="expiration-card" required>
                    <input type="number" placeholder="CVC" class="cvc" required>
                    <button type="submit" class="botton-pay">Pagar</button><br>
                </form>
            </section>
            <section class="arrow-down1">
                <i class="fa-solid fa-arrow-down-long"></i>
            </section>
            <section class="download">
                <i class="fa-solid fa-file-arrow-down"></i>
            </section>
        </main>
        <footer class="main-footer">
            <picture class="picture-footer"><img
            src="/images/Logo_eData-LOG-2.0.png" alt=""></picture>
            <section class="section10">
                <a href="/">> Dirección de email.</a>
                <a href="/">> Número de telefono.</a>
                <a href="/">> Dirección.</a>
            </section>
            <section class="section11">
                <a href="/">> Restaurantes, cafeterias, bares y
                discotecas</a>
                <a href="/">> Hoteles</a>
                <a href="/">> Gimnasios y centros deportivos</a>
                <a href="/">> Centros médicos y salas de espera</a>
                <a href="/">> Medios de transporte</a>
            </section>
            <section class="section12">
                <a href="/">> Aeropuertos y zonas de espera larga</a>
                <a href="/">> Eventos y conciertos</a>
                <a href="/">> Peluquerías, barberías y centros de estetica</a>
                <a href="/">> Tiendas de moda, retail y centros comerciales</a>
            </section>
            <section class="section13">
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            </section>
        </footer>
    </body>
</html>