<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/base.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="encabezado">
<picture id="logo"> <a href="/"> <img src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
<section class="lista">
    <a href="/">PRECIOS <i class="fa-solid fa-hand-holding-dollar"></i></a>
    <a href="/contacto">CONTACTO <i class="fa-solid fa-inbox"></i> </a>
    <a href="/login">INGRESA <i class="fa-solid fa-right-to-bracket"></i></a>
    <a href="/">REGISTRATE <i class="fa-solid fa-address-card"></i></a>
    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
    <a href="/productCar"><i class="fa-solid fa-cart-shopping"></i></a>
</section>
</nav>
    </header>
    <main>




    </main>

    <footer class="main-footer">
        <picture class="picture-footer"><img src="/images/Logo_eData-LOG-2.0.png" alt=""></picture>
        <section class="section10">
            <a href="/"> > Dirección de email.</a>
            <a href="/"> > Numero de telefono.</a>
            <a href="/"> > Dirección.</a>
        </section>
        <section class="section11">
            <a href="/">> Restaurantes, cafeterias, bares y discotecas</a>
            <a href="/">> Hoteles</a>
            <a href="/">> Gimnasios y centros deportivos</a>
            <a href="/">> Centros médicos y salas de espera</a>
            <a href="/">> Medios de transporte</a>
        </section>
        <section class="section12">
            <a href="/">> Aeropuertos y zonas de espera larga</a>
            <a href="/">> Eventos y conciertos</a>
            <a href="/">> Peluquerías, barberías y centros de estetica</a>
            <a href="/">> Tiendas de moda, retail y centros comerciales</a>
        </section>
        <section class="section13">
            <a href="/"><i class="fa-brands fa-facebook"></i></a>
            <a href="/"><i class="fa-brands fa-twitter"></i></a>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <a href="/"><i class="fa-brands fa-linkedin"></i></a>
        </section>
    </footer>
</body>
</html>