<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
        href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="/css/detalle.css">
        <link rel="shortcut icon" href="/images/Favicon_eData-LOG_2.0.png">
        <title>eData-LOG</title>
    </head>
    <body>
        <header>
            <nav class="encabezado">
                <picture id="logo"> <a href="/"> <img
                src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
                <section class="lista">
                    <a href="/detalle">CATALOGO</a>
                    <a href="/precios">PRECIOS <i class="fa-solid
                    fa-hand-holding-dollar"></i></a>
                    <a href="/contacto">CONTACTO <i class="fa-solid
                    fa-inbox"></i> </a>
                    <a href="/login">INGRESA <i class="fa-solid
                    fa-right-to-bracket"></i></a>
                    <a href="/">REGISTRATE <i class="fa-solid
                    fa-address-card"></i></a>
                    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
                    <a href="/carrito"><i class="fa-solid
                    fa-cart-shopping"></i></a>
                </section>
            </nav>
        </header>
        <main>
            <section class="caja-general">
                <img class="imagenes" src="/images/airport.jpg" alt="">
                <div class="caja">
                    <h4 class="descripciones">Aeropuertos</h4>
                    <p class="plan">Plan: Multizona</p>
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/GYM.webp" alt="">
                <div class="caja">
                    <h4 class="descripciones">Gimnasios y centros
                    deportivos</h4>
                    <p class="plan">Plan: Basico / Premium</p>
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/restaurante.webp" alt="">
                <div class="caja">
                    <h4 class="descripciones"> Restaurantes, cafeterias,
                    bares y discotecas</h4>
                    <p class="plan"> Plan: Basico / Premium</p>   
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/centros-comerciales.jpg"
                alt="">
                <div class="caja">
                    <h4 class="descripciones">Tiendas de moda, retail y
                    centros comerciales</h4>
                    <p class="plan"> Plan: Multizona</p>
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/peluquerias.jpg" alt="">
                <div class="caja">
                    <h4 class="descripciones">  Peluquerías, barberías y
                    centros de estetica </h4>
                    <p class="plan">Plan: Basico / Premium </p>
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/hoteles.jpg" alt="">
                <div class="caja">
                    <h4 class="descripciones"> Hoteles  </h4>
                    <p class="plan">Plan: Multizona </p>
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/eventos.jpg" alt="">
                <div class="caja">
                    <h4 class="descripciones">Eventos y conciertos</h4>
                    <p class="plan"> Plan: Multizona</p>
                </div>
            </section>
            <section class="caja-general">
                <img class="imagenes" src="/images/centro-medico.jpg"
                alt="">
                <div class="caja">
                    <h4 class="descripciones">Centros medicos y salas de
                    espera</h4>
                    <p class="plan"> Plan: Basico / Premium </p>
                </div>
            </section>
        </main>
        <footer class="main-footer">
            <picture class="picture-footer"><img
            src="/images/Logo_eData-LOG-2.0.png" alt=""></picture>
            <section class="section10">
                <a href="/">> Dirección de email.</a>
                <a href="/">> Número de telefono.</a>
                <a href="/">> Dirección.</a>
            </section>
            <section class="section11">
                <a href="/">> Restaurantes, cafeterias, bares y
                discotecas</a>
                <a href="/">> Hoteles</a>
                <a href="/">> Gimnasios y centros deportivos</a>
                <a href="/">> Centros médicos y salas de espera</a>
                <a href="/">> Medios de transporte</a>
            </section>
            <section class="section12">
                <a href="/">> Aeropuertos y zonas de espera larga</a>
                <a href="/">> Eventos y conciertos</a>                    <a href="/">> Peluquerías, barberías y centros de
                estetica</a>
                <a href="/">> Tiendas de moda, retail y centros
                comerciales</a>
            </section>
            <section class="section13">
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            </section>
        </footer>
    </body>
</html>