<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="/css/precios.css">
        <link rel="shortcut icon" href="/images/Favicon_eData-LOG_2.0.png">
        <title>eData-LOG</title>
    </head>
    <body>
        <header>
            <nav class="encabezado">
                <picture id="logo"> <a href="/"> <img
                src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
                <section class="lista">
                    <a href="/detalle">CATALOGO</a>
                    <a href="/precios">PRECIOS <i class="fa-solid
                    fa-hand-holding-dollar"></i></a>
                    <a href="/contacto">CONTACTO <i class="fa-solid
                    fa-inbox"></i> </a>
                    <a href="/login">INGRESA <i class="fa-solid
                    fa-right-to-bracket"></i></a>
                    <a href="/">REGISTRATE <i class="fa-solid
                    fa-address-card"></i></a>
                    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
                    <a href="/carrito"><i class="fa-solid
                    fa-cart-shopping"></i></a>
                </section>
            </nav>
        </header>
        <main>
            <h1 class="titulo-precio">¡Descubre nuestros precios!</h1>
            <section class="precios-box1">
                <h2>Pack Basico</h2>
                <h1>$42,90 AL MES</h1>
                <p>Solución Integral Socialwibox</p>
                <p>Router Configurado</p>
                <p>Acceso A Panel De Control</p>
                <p>APP Exclusiva Para Clientes</p>
                <p>Mail Marketing</p>
                <p>Supervisión Remota De La Instalación</p>
                <p>Personalización Del Acceso</p>
                <p>Atención Telefónica</p>
                <p>Precio Router Inicial 30 €</p>
                <p>Pago Semestral 257,40 €</p>
                <button type="submit" class="boton-precios">COMPRAR</button>
            </section>
            <section class="precios-box2">
                <h2>Pack Premium</h2>
                <h1>$39,90 AL MES</h1>
                <p>Solución Integral Socialwibox</p>
                <p>Router Configurado</p>
                <p>Acceso A Panel De Control</p>
                <p>APP Exclusiva Para Clientes</p>
                <p>Mail Marketing</p>
                <p>Supervisión Remota De La Instalación</p>
                <p>Personalización Del Acceso</p>
                <p>Atención Telefónica</p>
                <p>Router GRATIS</p>
                <p>Ahorro Del 15% Aprox.</p>
                <p>Pago Anual 478,80 €</p>
                <button type="submit" class="boton-precios">COMPRAR</button>
            </section>
            <section class="precios-box3">
                <h2>PACK MULTIZONA</h2>
                <h1>A CALCULAR</h1>
                <p>Cobertura Multizonal</p>
                <p>Solución Integral Socialwibox</p>
                <p>Router Configurado</p>
                <p>Acceso A Panel De Control</p>
                <p>APP Exclusiva Para Clientes</p>
                <p>Mail Marketing</p>
                <p>Supervisión Remota De La Instalación</p>
                <p>Personalización Del Acceso</p>
                <p>Atención Telefónica</p>
                <p>Presupuesto Sin Compromiso</p>
                <button type="submit" class="boton-precios">PEDIR RESUPUESTO</button>
            </section>
        </main>
        <footer class="main-footer">
            <picture class="picture-footer"><img
            src="/images/Logo_eData-LOG-2.0.png" alt=""></picture><section
            class="section10">
                <a href="/">> Dirección de email.</a>
                <a href="/">> Número de telefono.</a>
                <a href="/">> Dirección.</a>
            </section>
            <section class="section11">
                <a href="/">> Restaurantes, cafeterias, bares y
                discotecas</a>
                <a href="/">> Hoteles</a>
                <a href="/">> Gimnasios y centros deportivos</a>
                <a href="/">> Centros médicos y salas de espera</a>
                <a href="/">> Medios de transporte</a>
            </section>
            <section class="section12">
                <a href="/">> Aeropuertos y zonas de espera larga</a>
                <a href="/">> Eventos y conciertos</a>
                <a href="/">> Peluquerías, barberías y centros de
                estetica</a>
                <a href="/">> Tiendas de moda, retail y centros
                comerciales</a>
            </section>
            <section class="section13">
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-linkedin"></i></a>
            </section>
        </footer>
    </body>
</html>