<%- include("../products/head")  %> 
<nav class="encabezado">
    <picture id="logo"><a href="/"><img src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
    <section class="lista">
        <a href="/detalle">CATÁLOGO</a>
        <a href="/precios">PRECIOS <i class="fa-solid
        fa-hand-holding-dollar"></i></a>
        <a href="/contacto">CONTACTO <i class="fa-solid
        fa-inbox"></i> </a>
        <a href="/login">INGRESA <i class="fa-solid
        fa-right-to-bracket"></i></a>
        <a href="/registro">REGISTRATE <i class="fa-solid
        fa-address-card"></i></a>
        <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
        <a href="/carrito"><i class="fa-solid
        fa-cart-shopping"></i></a>
    </section>
</nav>