<%- include("../products/head")  %> 
<picture class="picture-footer"><img
    src="/images/Logo_eData-LOG-2.0.png" alt=""></picture>
    <section class="section10">
        <a href="/">> Dirección de email.</a>
        <a href="/">> Número de telefono.</a>
        <a href="/">> Dirección.</a>
    </section>
    <section class="section11">
        <a href="/">> Restaurantes, cafeterias, bares y
        discotecas</a>
        <a href="/">> Hoteles</a>
        <a href="/">> Gimnasios y centros deportivos</a>
        <a href="/">> Centros médicos y salas de espera</a>
        <a href="/">> Medios de transporte</a>
    </section>
    <section class="section12">
        <a href="/">> Aeropuertos y zonas de espera larga</a>
        <a href="/">> Eventos y conciertos</a>
        <a href="/">> Peluquerías, barberías y centros de estetica</a>
        <a href="/">> Tiendas de moda, retail y centros comerciales</a>
    </section>
    <section class="section13">
        <a href="/"><i class="fa-brands fa-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
        <a href="/"><i class="fa-brands fa-linkedin"></i></a>
    </section>