<!DOCTYPE html>
<html lang="en">
    <head>
        <% include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <picture id="logo"><a href="/"><img src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
            <nav class="encabezado">
                <section class="lista">
                    <a href="/detalle">CATÁLOGO</a>
                    <a href="/precios">PRECIOS <i class="fa-solid
                    fa-hand-holding-dollar"></i></a>
                    <a href="/contacto">CONTACTO <i class="fa-solid
                    fa-inbox"></i> </a>
                    <a href="/login">INGRESA <i class="fa-solid
                    fa-right-to-bracket"></i></a>
                    <a href="/registro">REGISTRATE <i class="fa-solid
                    fa-address-card"></i></a>
                    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
                    <a href="/carrito"><i class="fa-solid
                    fa-cart-shopping"></i></a>
                </section>
            </nav> 
        </header>
        <main class="main-login">
            <section class="login-box">
                <h2>Login</h2>
                <form>
                    <input type="text" placeholder="usuario o email"
                    class="barra-login">
                    <input type="password" placeholder="contraseña"
                    class="barra-login">
                    <label for="recordarme" class="recordarme-aqui">recuerdame
                    en este equipo</label>
                    <input type="checkbox" id="recordarme" name="rememberMe"
                    class="caja">
                    <a href="#" class="contraseña-olvidada">¿Olvidaste tu
                    contraseña?</a>
                    <button type="submit" class="botton-form">Enviar</button>
                </form>
            </section>
            <section class="comentary-box">
                <h2>¿Primera vez aqui?</h2>
                <form>
                    <p class="texto-bienvenida">Bienvenido! estamos felices de
                    que estés aqui. Por favor, cuentenos sobre usted.</p>
                    <input type="text" placeholder="Comentarios"
                    class="comentrios-login">
                    <button type="submit" class="botton-form">Continuar</button>
                </form>
            </section>
        </main>
        <footer class="main-footer">
            <%- include ("../partials/footer.ejs") %> 
        </footer>
    </body>
</html>