<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs")  %> 
        </header>
    <main>


    </main>
    <footer class="main-footer">
        <%- include ("../partials/footer.ejs") %> 
    </footer>
</body>
</html>
