<!DOCTYPE html>
<html lang="en">
    <head>
        <% include("../partials/head.ejs")  %>
        <link rel="stylesheet" href="/css/registro.css">
    </head>
    <body>
        <header>
            <picture id="logo"><a href="/"><img src="/images/Logo_eData-LOG-2.0.png" alt=""></a></picture>
            <nav class="encabezado">
                <section class="lista">
                    <a href="/detalle">CATÁLOGO</a>
                    <a href="/precios">PRECIOS <i class="fa-solid
                    fa-hand-holding-dollar"></i></a>
                    <a href="/contacto">CONTACTO <i class="fa-solid
                    fa-inbox"></i> </a>
                    <a href="/login">INGRESA <i class="fa-solid
                    fa-right-to-bracket"></i></a>
                    <a href="/registro">REGISTRATE <i class="fa-solid
                    fa-address-card"></i></a>
                    <a href="/">IDIOMA <i class="fa-solid fa-language"></i></a>
                    <a href="/carrito"><i class="fa-solid
                    fa-cart-shopping"></i></a>
                </section>
            </nav> 
        </header>
        <main>
            <section class="register-box">
                <form>
                    <h2>Crea tu cuenta.</h2>
                    <h3>Informacion de cuenta.</h3>
                    <input type="text" placeholder="nombre"
                    class="barra-register">
                    <input type="text" placeholder="apellido"
                    class="barra-register">
                    <input type="email" placeholder="email"
                    class="barra-register">
                    <input type="email" placeholder="confirmar email"
                    class="barra-register">
                    <input type="password" placeholder="contraseña"
                    class="barra-register">
                    <input type="password" placeholder="confirmar contraseña"
                    class="barra-register">
                    <label for="deacuerdo" class="estoy de acuerdo con los terminos y condiciones">recuerdame
                    en este equipo</label>
                    <input type="checkbox" id="deacuerdo">
                    <button type="submit" class="botton-form">Enviar</button>
                </form>
            </section>
            <section class="register-box2">
                <p>¡Sea el primero en enterase de nuestras actualizaciones y ofertas!</p>
                <input type="email" placeholder="Ingrese su email" class="barra-register">
                <button type="submit" class="botton-form">Enviar</button>
            </section>
        </main>
        <footer class="main-footer">
            <%- include ("../partials/footer.ejs") %> 
        </footer>
    </body>
</html>