<article class="contenedor">
    <picture class="picture-footer">
        <img src="/images/Logo_eData-LOG-2.0.png" alt="">
    </picture>
    <section class="section10">
        <a href="/contacto">> Dirección de email.</a>
        <a href="/contacto">> Número de telefono.</a>
        <a href="/contacto">> Dirección.</a>
    </section>
    <section class="section11">
        <a href="/productos/3">> Restaurantes, cafeterias, bares y
        discotecas</a>
        <a href="/productos/6">> Hoteles</a>
        <a href="/productos/2">> Gimnasios y centros deportivos</a>
        <a href="/productos/8">> Centros médicos y salas de espera</a>
    </section>
    <section class="section12">
        <a href="/">> Aeropuertos y zonas de espera larga</a>
        <a href="/">> Eventos y conciertos</a>
        <a href="/">> Peluquerías, barberías y centros de estetica</a>
        <a href="/">> Tiendas de moda, retail y centros comerciales</a>
    </section>
    <section class="section13">
        <a href="/"><i class="fa-brands fa-facebook"></i></a>
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
        <a href="/"><i class="fa-brands fa-linkedin"></i></a>
    </section>
</article>