<li>
    <div class="container-productos">
        <h2> <%= producto.name %> </h2>
        <img src="/products/<%= producto.imagene %>">
        <a href="/productos/<%= producto.id_producto %>">Ver mas</a>
    </div>
</li>