<li>
    <div class="container-productos">
        <h2> <%= element.name %> </h2>
        <img src="/products/<%= element.imagen %>">
        <a href="/productos/<%= element.id %>">Ver mas</a>
    </div>
</li>